<h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%=@min%>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%=@max%>.0
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%=@randnum%>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
