   <form action="/random/results">
  <div>
    <label for="lower">
      Minimum
    </label>

    <input id="lower" text="text" name="lower" placeholder="E.g. 1.5">
  </div>

  <div>
    <label for="uppper">
      Maximum
    </label>

    <input id="upper" text="text" name="upper" placeholder="E.g. 4.5">
  </div>

  <button>
    Pick random number
  </button>
</form>
