<!DOCTYPE html>
<html>
  <head>
    <title>Scott's Omnicalc 1</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="BRl95oIKim6tPObGMrat56lHpzYW20mLRhzFbYEnH5dIo8DSGjujxruUVcQ1TVi6b5MYcl/b6PwZj6iH3AJ2oA==" />

    <form action="/square/results">
  <div>
    <label for="user_number">Enter a number</label>
  </div>
  <div>
    <input type="text" name="number" id="user_number" placeholder="What number do you want to take the square of?">
  </div>
  <button>Calculate square</button>
</form>

  </body>
</html>